 .u-section-1 {
  background-image: url("images/cvbf-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 121px 340px 0 -300px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 9.375rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: -24px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-right: 233px;
    margin-left: -233px;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.5rem;
    width: auto;
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-shape-1 {
    width: 199px;
    height: 199px;
    margin-top: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-shape-1 {
    width: 195px;
    height: 195px;
    margin-top: 85px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 66px;
    margin-right: 116px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.25rem;
    margin-top: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 471px;
}

.u-section-2 .u-text-1 {
  font-size: 2.75rem;
  margin: 94px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px 204px 60px 234px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 104px;
    margin-left: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 848px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 37px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 732px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 57px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  font-style: italic;
  margin: 29px 0 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 16px 23px 0 7px;
}

.u-section-3 .u-image-1 {
  height: 525px;
  object-position: 50% 98.55%;
  margin: 70px 7px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 730px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 147px;
  height: 147px;
  background-image: none;
  margin: 55px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 52px 0 0;
}

.u-section-3 .u-text-4 {
  width: 377px;
  margin: 43px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 410px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    height: 600px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 92px;
    padding-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 369px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 684px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 872px;
  margin: 53px auto;
}

.u-section-4 .u-image-1 {
  min-height: 354px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/high-angle-shot-beautiful-forest-with-lot-green-trees-enveloped-fog-new-zealand_181624-19717.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 9px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 20px 11px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Abhaya Libre";
  font-style: normal;
  margin: 20px 11px 0;
}

.u-section-4 .u-image-2 {
  min-height: 617px;
  background-image: url("images/pexels-photo-4066276.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-4 .u-group-1 {
  width: 384px;
  min-height: 192px;
  margin: 20px -89px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 823px;
  }

  .u-section-4 .u-image-1 {
    min-height: 396px;
  }

  .u-section-4 .u-group-1 {
    width: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 620px;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 542px;
  }

  .u-section-4 .u-group-1 {
    width: 303px;
    min-height: 140px;
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 451px;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 676px;
  }

  .u-section-4 .u-group-1 {
    width: 408px;
    min-height: 171px;
    margin-top: 72px;
    margin-left: 78px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 290px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 261px;
  }

  .u-section-4 .u-image-2 {
    min-height: 515px;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
    min-height: 139px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 34px 182px 0 288px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1099px;
  margin: 41px 0 60px auto;
}

.u-section-5 .u-image-1 {
  min-height: 788px;
  background-image: url("images/nmmnmn-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 0 60px 111px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 788px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 470px;
  margin-top: 33px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 379px;
    margin-left: 391px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 674px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-5 .u-image-2 {
    height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 599px;
    margin-left: 433px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-5 .u-image-1 {
    min-height: 516px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-5 .u-image-2 {
    height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 629px;
    margin-left: 467px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-5 .u-image-1 {
    min-height: 553px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1290px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 907px;
    object-position: 50% 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 591px;
    margin-left: 505px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-5 .u-image-1 {
    min-height: 348px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 812px;
  }

  .u-section-5 .u-image-2 {
    height: 558px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/fgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 879px;
}

.u-section-6 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 867px;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 3.75rem;
  margin: 267px auto 0;
}

.u-section-6 .u-list-1 {
  width: 736px;
  margin: 108px auto 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 254px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 140px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 745px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1109px;
  margin: 60px auto;
}

.u-section-7 .u-image-1 {
  min-height: 480px;
  background-image: url("images/98697f8a5035ec93bad682b65a13f41c.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-line-1 {
  width: 86px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 392px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.4;
  margin: -25px 1px 0 22px;
}

.u-section-7 .u-image-2 {
  min-height: 392px;
  background-image: url("images/2fa540df7187a7eeb5f596f9d0726e2d.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    min-height: 396px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-7 .u-image-2 {
    min-height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 540px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 354px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 27px;
  }

  .u-section-7 .u-image-2 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 736px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
    order: 1;
  }

  .u-section-7 .u-image-2 {
    min-height: 409px;
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 463px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 258px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/pexels-photo-4406619.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 695px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 6px;
  width: 603px;
  margin: 362px auto 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 21px;
  min-height: 16px;
  width: 210px;
  min-width: 190px;
  margin: 60px auto;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }
}